body {
    white-space: nowrap;
}

.content_container {
    margin-left: 10px;    
}

.feedbackPanelERROR {
    color: red !important;
    list-style: circle;
    font-weight: bold;
}

.feedbackPanelINFO {
    color: green;
    list-style: circle;
    font-weight: bold;
}

.inputForm label {
    display: block;
    margin-top: 20px;
}

#needJudgingRadioChoice label { display: inline !important; }

.inputForm label.non {
    display: inline !important;
}

