.content_container {
}

.feedbackPanelERROR {
    color: red !important;
    list-style: circle;
    font-weight: bold;
}

.feedbackPanelINFO {
    color: green;
    list-style: circle;
    font-weight: bold;
}

/* Use these two style properties to display a simple arrow
 * on the column header when sorting tables. 
th.sorted.ascending:after {
    content: "  \2191";
}

th.sorted.descending:after {
    content: " \2193";
}
*/