.content_container {
}

.feedbackPanelERROR {
    color: red !important;
    list-style: circle;
    font-weight: bold;
}

.feedbackPanelINFO {
    color: green;
    list-style: circle;
    font-weight: bold;
}

